.BigCounter {
    display: flex;
    justify-content: center;
    text-align: center;

    background-color: black;
    width: 50%;
    height: auto;
    border-radius: 60px;
    margin: 80px;
    padding: 90px;

    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

    -webkit-box-shadow: 0px 20px 53px 12px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 20px 53px 12px rgba(0,0,0,0.58);
    box-shadow: 0px 20px 53px 12px rgba(0,0,0,0.58);


   -webkit-box-shadow: inset 0px 0px 23px 12px rgba(199,199,199,0.68);
-moz-box-shadow: inset 0px 0px 23px 12px rgba(199,199,199,0.68);
box-shadow: inset 0px 0px 23px 12px rgba(199,199,199,0.68);

}

.Calendar, .One, .Two, .Three, .For{
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    width: auto;
    height: auto;
    margin: 10px;
    
    font-size: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
   
    
    -webkit-box-shadow: inset 0px 0px 23px -11px rgba(199,199,199,1);
    -moz-box-shadow: inset 0px 0px 23px -11px rgba(199,199,199,1);
    box-shadow: inset 0px 0px 23px -11px rgba(199,199,199,1);

}

.bi-bi-clock {
    background-color: #2b2b2b;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 50px;
    font-size: 200px;

    

}